<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jnu.bookmanagementsystem">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookManagementSystem">
        <activity
            android:name=".Librarian.Library_Check_Activity"
            android:exported="false" />
        <activity
            android:name=".DeleteDetailActivity"
            android:exported="false" />
        <activity
            android:name=".Librarian.Librarian_Lend_Record_Activity"
            android:exported="false" />
        <activity
            android:name=".MyBorrowRecordActivity"
            android:exported="false" />
        <activity
            android:name=".Librarian.Delete_Activity"
            android:exported="false" />
        <activity
            android:name=".Librarian.Edit_Activity"
            android:exported="false" />
        <activity
            android:name=".Librarian.Add_Activity"
            android:exported="false" />
        <activity
            android:name=".Check_Activity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UserActivity"
            android:exported="false" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Librarian_function" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>